h2 Todo List
.showing-info
  list(ng-repeat= 'task in tasks')
    ul(id="{{'task_'+task._id}}")
      li {{task.title}}
      li {{task.description}}
      li {{task.priority}}
      li {{task.due_date}}
      button.btn.btn-warning(ng-click='delete(task._id)') Delete
      button.btn.btn-warning(ng-click='edit(task._id)') Edit
